li {
	list-style-type: none;
	float: left;
	width: 24%;
	font-size: 20px;
	text-align: center;
}

ul {
	padding-bottom: 2%;
}

a {
	text-decoration: none;
	font-size: 25px;
	color: white;
	font-weight: bold;
}

a:hover {
	color: orange;
}

#logo {
	text-align: center;
}

body {
	background-color: #7F7F7F;
	font-family: Arial;
}

.boxgroesse {
	background-color: rgba(240, 240, 240, 0.5);				/*Box transparent*/		
	border-radius: 18px;
	width: 80%;
	height: 1024px;
	position: absolute;										/*Box geht über das Fenster*/
	margin-left: 9%;
	margin-top: 15px;
	margin-bottom: 2%;
}

#tabelle1 {
	border: 1px solid;
	color: black;
	margin-top: 15px;
	width: 95%;
	border-collapse: collapse;
}

th {
	font-size: 20px;
	border: 1px solid;
	padding: 0.5%;
}

td {
	text-align: left;
	font-size: 18px;
	border: 1px solid;
	padding: 0.5%;
}

.title {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

#tabelle2 {
	color: black;	
	margin-top: 15px;
	width: 75%;
}

.tInhalt {
	border: none;
	text-align: left;
	font-size: 18px;
}

p {
	color: black;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 15px;
	font-size: 20px;
	text-align: center;
}
.error {
	color: red;
	font-style: italic;
	font-size: 15px;
	visibility: hidden;
}

#blackLink {
	color: black;
}
#blackLink:hover {
	color: orange;
}
textarea {
	margin-top: 15px;
}